.site-footer {
  border-top: none;
}

.footer {
  padding-block:
    var(--space-6)
    var(--space-6);
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: var(--space-5);

}

.footer__socials {
  display: flex;
  align-items: center;

  gap: var(--space-5);
}

.footer__link {
  font-size: var(--font-size-small);
}
